/*reset page*/
html, body {
    margin: 0;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    background-color: #F2E5E5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
  
nav {
    margin-top: 0;
    display: flex;
    gap: 20px;
    margin-right: 10px;
    text-decoration: none;
    
}

nav a{
    text-decoration: none;
    font-size: 15px;
    margin-left: 35px;
    color: #2B3A55;
    font-weight: bold;
}

.logo{
    font-size: 225%;
    margin-bottom: 0px;
    color: #D23369;
}

.child {
    align-self: flex-end;
    height: 50px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-25px); }
  100% { transform: translateY(0); }
}

.media {
    width:100%;
    margin-top: 50px;
    height: 500px;
    align-items: center;
    background-color: #2B3A55;
    align-items: center;
    position: relative;
    display: flex;
    border-radius: 30px;
}


.media h1{
    color: white;
    text-align: center;
}


.mediabtn{
    background-color: #D23369;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-right: 20px;
    margin-top: 20px;
}
 
.mediabtn:hover{
    background-color: transparent;
    border: 2px solid #D23369;
    cursor: pointer;
}

.wow{
    margin-left: 230px;
}
